
   .carousel-img {
    object-fit: cover;
    height: 450px;
    width: 100%;
  }
  
  .carousel-caption {
    position: absolute;
    right: 10px;
    left: 10px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 5px;
    color: white;
    max-width: 80%;
    margin: 0 auto;
  }
  
  .carousel-caption h5 {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .carousel-caption p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .carousel-caption .btn {
    background-color: #007bff;
    border: none;
    padding: 8px 16px;
    font-size: 0.9rem;
    border-radius: 5px;
    text-transform: uppercase;
  }
  
  .carousel-caption .btn:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .carousel-img {
      height: 250px;
    }
  
    .carousel-caption {
      top: 70%;
      transform: translateY(-70%);
      padding: 10px;
      max-width: 90%;
    }
  
    .carousel-caption h5 {
      font-size: 1.3rem;
    }
  
    .carousel-caption p {
      font-size: 0.9rem;
    }
  }
  