.info-cards .icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #007bff;
  color: white;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 90%;
}


.info-cards .card:hover {
  transform: translateY(-5px);
}
