/* Ensure the button takes your custom styles */
.input-container button {
    width: 100%;
    padding: 10px;
    background-color: #2575fc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px !important;  /* Added !important to force custom font-size */
}

.input-container button:hover {
    background-color: #1e63d0;
}

/* Form container styles */
.input-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    margin: 55px auto;
}

.input-container h2 {
    text-align: center;
    /* margin-bottom: 20px; */
    color: #444;
}

/* Flex column for form fields */
.input-form {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.form-fields {
    flex: 1;
    margin-top: 5px;
}

/* Form Field styling */
.input-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #444;
}

.input-container input {
    width: 100% !important;  /* Ensure input takes full width */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Image Box Container to hold both images side by side */
.image-box-container {
    display: flex; /* Flexbox to align side by side */
    justify-content: space-between; /* Space between image boxes */
    margin-bottom: 10px;
    margin-top: -30px;
}

/* Image Box Styling */
.image-box {
    width: 40%;  /* Adjust width to fit two boxes side by side */
    height: 175px;  /* Adjust height */
    background: #f4f4f4;
    border: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.image-box span {
    color: #888;
    font-size: 14px;
    text-align: center;
}

/* Image Preview Styling (Cover the entire box) */
.image-preview {
   
    object-fit: contain;
    border-radius: 4px; 
   
    background: #f4f4f4;
    border: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}
